body {
  min-height: 2000px;
  padding-top: 70px;
}
#map { 
	position: absolute;
	height: 100%;  
	width: 50%;
	margin-left: -10%;
	border-radius: 5px;
}
.center-image {
	text-align:center;
}
.mochi-olive-border {
	background-color: rgba(60, 118, 61, 0.32);
}
.navbar-default .navbar-nav > .active > a, .navbar-default 
.navbar-nav > .active > a:hover, .navbar-default 
.navbar-nav > .active > a:focus.mochi-olive-border {
	background-color: rgba(60, 118, 61, 0.32);
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a {
	color: #fff;
}
.title {
    font-weight: bold;
    color: #4CAF50;
    text-align: center;
}
.title-image {
	width: 60px;
	padding-bottom: 20px;
}
.restaurant_table_container{
	border: 1px solid #999;
	position: absolute;
	height: 100%;  
	width: 50%;
	margin-left: 45%;
	overflow:auto;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}

tbody tr:hover {
  background-color: lightyellow;
}

thead {
	background-color: rgba(60, 118, 61, 0.32);
}
.olive-navbar-image {
	width: 30px;
	padding-bottom: 20px;
}
.navbar-image {
    margin-left: -200%;
    margin-top: -35%;
}
.container > .navbar-header > .navbar-title {
	margin-left: -50%;
}
.navbar-right.navbar-logo-right{
	margin-right: -20%;
}
