<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/mochi.ico">

    <title>Happy Hour</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!--<style type="text/css">
      #map { height: 500px; } 
    </style>-->

    <!-- Extra styles for template-->
    <link href="/static/css/restaurant.css" rel="stylesheet">
    <link href="/static/css/infowindow.css" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top mochi-olive-border">
      <img class="title-image navbar-image" src="/static/images/mochi-navbar.jpg" title="MochiOlive Happy Hour"/>
      <a class="navbar-brand navbar-title" href="#">MochiOlive Happy Hour Admin Dashboard</a>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand navbar-title" href="#">MochiOlive Happy Hour</a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{% url 'django.contrib.auth.views.logout' %}">Logout <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-mochi center-image">
      <div id='filter'>
        <a class="btn btn-info" role="button" href="filter">Filter</a>
      </div> 
      <div id="wrapper">
          <div id="admin_leftcolumn">
             <p>placeholder </p>
          </div>
        <div id="admin_rightcolumn">
          <table class="restaurant_admin_table">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Phone number</th>
                  <th>Rating</th>
                  <th>Location lat</th>
                  <th>Location long</th>
                  <th>Thumbnail image</th>
                </tr>
              </thead>
            <tbody>
              {{restaurants}}
                 {% for restaurant in object_list %}
                <tr>
                  <td>{{ restaurant.name }}</td>
                  <td>{{ restaurant.address }}</td> 
                  <td>{{ restaurant.phone_number }}</td>
                  <td>{{ restaurant.rating }}</td>
                  <td>{{ restaurant.location_lat }}</td> 
                  <td>{{ restaurant.location_long }}</td>
                  <td><img src="{{ restaurant.image_url }}"/></td>
                </tr>
              {% endfor %}
           </tbody>
          </table>
        </div>
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="/static/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>