{% block content %}

<nav class="navbar navbar-default navbar-fixed-top mochi-olive-border">
      <img class="title-image navbar-image" src="/static/images/mochiolive.png" title="MochiOlive Happy Hour"/>
      <a class="navbar-brand navbar-title" href="#">MochiOlive Happy Hour Admin Login</a>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                      <p>{{error}}</p>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %}
<link rel="icon" href="/static/images/mochiolive.ico">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<script src="/static/js/bootstrap.js"></script>

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table id="form">
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="/admin/dashboard/" />
</form>

      </div>
    </nav>


{% endblock %}