{% extends "base.html" %}

{% block restaurant_table %}
<table>
  <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone number</th>
        <th>Rating</th>
      </tr>
    </thead>
  <tbody>
    {% for restaurant in restaurants %}
      <tr id="{{forloop.counter}}" onclick="triggerMarker(this.id)">
        <td>{{ restaurant.name }}</td>
        <td>{{ restaurant.address }}</td> 
        <td>{{ restaurant.phone_number }}</td>
        <td>{{ restaurant.rating }}</td>
      </tr>
    {% endfor %}
 </tbody>
</table>
{% endblock %}

{% block user_favorites %}
  <script type="text/javascript">
    {% if user %}
      var userId = String({{user.id}})
      var restaurants = getUserFavorites(userId);
    {% endif %}
  </script>
{% endblock %}