<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/images/mochiolive.ico">

  <title>MochiOlive</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <link href="/static/css/cover.css" rel="stylesheet">
  <link href="/static/css/signup_login.css" rel="stylesheet">
  <!-- Custom styles for this template -->
</head>
<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">MochiOlive</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Home</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="wrapper">
          <div id="loginRegisterationForm">
            <div class="main">
              <div class="header">
                <h1>Login Here or Register for a New Account!</h1>
              </div>
              <div class="left">
                <h2>Login:</h2>
                 <div class = "loginform">
                  <form>
                  <div>
                  <li><input type="text"  placeholder="Username" required/></li>
                  </div>
                  <div>
                  <li><input type="password"  placeholder="Password" required/></li>
                  </div>
                  <div>
                  <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Remeber Me</label>
                  </div>
                  <div>
                  <input type="submit" onclick="myFunction()" value="Login" >
                  </div>
                  <p><a href="#">Don't remember your password?</a></p>
              </form>
              </div>
            </div>
            <div class="divider"></div>
            <div class="right">
              <div class="clear"> </div>
              <h2>New Account:</h2>
              <form>
               <li>
                 <input type="text"   placeholder="Username" required/>
                 <a href="#" class="icon ticker"> </a>
                 <div class="clear"> </div>
               </li>
             <li><input type="text"   placeholder="Email" required/>
             <a href="#" class="icon ticker"> </a>
             <div class="clear"> </div>
           </li>
           <li>
            <input type="password"   placeholder="Password" required/>
            <a href="#" class="icon into"> </a>
            <div class="clear"> </div>
          </li>
          <!-- <li>
            <input type="password confirmation" placeholder="type same password" required/>
            <a href="#" class="icon into"> </a>
            <div class="clear"> </div>
          </li> -->
          <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>I agree that I will join the mochi community and celebtrate olive festival</label>
          <input type="submit" onclick="myFunction()" value="Create Account">
          <div class="clear"> </div>
        </form>
      </div>
    </div>

  </div>
</div>
<!-- end:Main Form -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  </html></script>